target/
log/

### Spring Tool Suite / Eclipse ###
.metadata/
.classpath
.project
.settings/
.springBeans
.factorypath
*.launch
*.beaninfo

### STS Dashboard & Boot Tools ###
bin/
/bin/
.sts4-cache/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
